body {
	overflow-y: hidden;
	background: purple;
}
.rocket {
	position: absolute;
	bottom: 0px;
	left: 35%;
	animation: fly 5s .5s ease-in;
}
@keyframes fly{
	0% {
		bottom: 0px;
	}
	100% {
		bottom: 100%;
	}
}